*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
}
.heading{
    text-align: center;
    font-size: 2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 1em;
}
.list{
    display: flex;
    overflow: hidden;
}
.list>li{
    margin: 10px 5px ;
    list-style: none;
    font-size: 1.5rem;
    padding: 10px 10px 0 10px;
    font-family: 'Courier New', Courier, monospace;
    
}
a{
    text-decoration: none;
    color: rgb(102, 118, 190);

}